<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Blender</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

              <!-- .skillbar -->
              <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Qt Creator</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>   
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Game Engine skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Unity</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Unreal Engine</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Pocket Ark</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>C</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>C#</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 
             
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 
           
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Web Development Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>JavaScript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>TypeScript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Node.js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Go(lang)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>PHP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

               <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Fire</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>Laravel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">55%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Symphony</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Vue.js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 
   
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Big data skills </div>
            <div class="clear"></div>    
        </div>
        <!-- /.title_content -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Docker</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Kubernetes</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Apache Spark</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Apache Hive</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Apache HBase</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Apache Kafka</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
        </div>
            <!-- /.skillbar -->
    
            <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Apache Hadoop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Apache Flink</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Apache Cassandra</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
     
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>MongoDB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>MariaDB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Neo4j</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Cloud computing skills </div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

            <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Alibaba cloud</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Huawei cloud</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Google cloud</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Amazon Web Service (AWS)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
         <div class="title_content" style="float: none;">
            <div class="text_content">Hypervisor skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Oracle VM</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>VMware Professional</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Software Testing skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
               <div class="skillbar-title"><span>Selenium</span></div>
               <div class="skillbar-bar"></div>
               <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Appium</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
             </div>
             <!-- /.skillbar -->

              <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>TestNG</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
             </div>
             <!-- /.skillbar -->

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
		</div>
           
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Ukulele</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Photography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Origami</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Olimpic Wrestling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Calisthenics</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Hiking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

        </div>
              
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
    
        </div>
            
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://www.canva.com/design/DAFv4xQnCC4/ZyaxT0MtXb_QttRr3dlwRQ/view?utm_content=DAFv4xQnCC4&utm_campaign=designshare&utm_medium=link&utm_source=viewer">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
         
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Unity Developer <span class="duration"><i class="fa fa-calendar color"></i> 2023.01 - 2023.04</span></h5>
                <h6><span class="fa fa-briefcase"></span> Peking Universal Sport & Media Co.</h6>
                <p>Internships in video game development with the Unity program: editing, debugging, and testing of Virtual Reality video games.</p>
            </li>
            <li>
                <h5>Technical Support <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> National Electoral Council CNE</h6>
                <p>Exhibition, installation and maintenance of voting machines in electoral processes.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li>
                <h5>Software Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2023</span></h5>
                <h6><span class="fa fa-book"></span> Beijing Institute of Technology</h6>
                <p>Bachelor of Science in Software Engineering</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Photography <span class="duration"><i class="fa fa-calendar color"></i> 2022</span></h5>
                <h6><span class="fa fa-trophy"></span> Beijing People's Association for Friendship with Foreign Countries</h6>
                <p>“我与北京 I Beijing” Photo Contest for International Friends, Award of Excellence</p>
            </li>
            <li>
                <h5>Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2023</span></h5>
                <h6><span class="fa fa-trophy"></span> Chinese Goverment Sholarship</h6>
                <p>scholarship offered by the Beijing Institute of Technology to study software engineering and Chinese language at the Beijing Institute of Technology</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  

        <div class="title_content">
            <div class="text_content">Certificates</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Photography <span class="duration"><i class="fa fa-calendar color"></i> 2022</span></h5>
                <h6><span class="fa fa-trophy"></span> Beijing People's Association for Friendship with Foreign Countries</h6>
                <p>“我与北京 I Beijing” Photo Contest for International Friends, Award of Excellence</p>
            </li>
            <li>
                <h5>Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2023</span></h5>
                <h6><span class="fa fa-trophy"></span> Chinese Goverment Sholarship</h6>
                <p>scholarship offered by the Beijing Institute of Technology to study software engineering and Chinese language at the Beijing Institute of Technology</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  

        <div class="title_content">
            <div class="text_content">Volunteers</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Performance <span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                <h6><span class="fa fa-trophy"></span>Beijing Institute of technology</h6>
                <p>Celebration of the 80th anniversary of the Beijing Institute of Technology</p>
            </li>
            <li>
                <h5>Performance <span class="duration"><i class="fa fa-calendar color"></i> 2021, 2022, 2023</span></h5>
                <h6><span class="fa fa-trophy"></span>Beijing Institute of technology</h6>
                <p>Beijing Institute of Technology Sports Games</p>
            </li>
            <li>
                <h5>Exhibition and Performance<span class="duration"><i class="fa fa-calendar color"></i> 2023</span></h5>
                <h6><span class="fa fa-trophy"></span>Beijing Institute of technology</h6>
                <p>Beijing Institute of Technology Cultural Festival</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  

        <div class="title_content">
            <div class="text_content">Conferences</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Guest <span class="duration"><i class="fa fa-calendar color"></i> 2023.09</span></h5>
                <h6><span class="fa fa-trophy"></span>China Council For The Promotion Of International Trade CCPIT</h6>
                <p>Global Business and Law Conference</p>
            </li>
            <li>
                <h5>Guest <span class="duration"><i class="fa fa-calendar color"></i> 2023.06</span></h5>
                <h6><span class="fa fa-trophy"></span>Beijing Academy Of Artificial Intelligence BAAI</h6>
                <p>5th BAAI Conference</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  

         <!-- /.attributes -->
         <br>  

         <div class="title_content">
             <div class="text_content">References</div>
             <div class="clear"></div>
         </div>
         <!-- /.title_content -->
         
         <!-- .attributes -->
         <ul class="attributes">
             <li class="first">
                 <h5>Jin  Fusheng <span class="duration"><i class="fa fa-calendar color"></i> 2023.09</span></h5>
                 <h6><span class="fa fa-trophy"></span>China Council For The Promotion Of International Trade CCPIT</h6>
                 <p>Global Business and Law Conference</p>
             </li>
             <li>
                 <h5>Wan Chongwen <span class="duration"><i class="fa fa-calendar color"></i> 2023.06</span></h5>
                 <h6><span class="fa fa-trophy"></span>Beijing Academy Of Artificial Intelligence BAAI</h6>
                 <p>5th BAAI Conference</p>
             </li>
   
         </ul>
         <!-- /.attributes -->
         <br>  
 


        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>
 
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->