<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catGraphic">Video Games</span></li>
            <li><span class="filter" data-filter="catMotion">Machine Learning</span></li>
            <li><span class="filter" data-filter="logo">Mobile App</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" rel="portfolio" 
                     title="Apocalypse  Escape: is an exhilarating parkour game prototype developed using the Pocket Ark editor and programmed in TypeScript. The game's plot unfolds in a city devastated by a mysterious alien attack, where the streets have transformed into a perilous landscape filled with flowing lava. In this challenging post-apocalyptic  environment, players are tasked with executing daring jumps over a variety  of scattered objects to escape the city before it's too late. With agile and dynamic controls,  Apocalypse Escape offers a unique parkour experience, challenging players to overcome creative obstacles while exploring a devastated urban landscape teeming with dangers. https://www.youtube.com/ ">
                      
                        <img src="images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Apocalypse Escape</a>
                                <span class="text-category">Video Games</span>
                                <!-- Agregar texto adicional -->
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/2.jpg" rel="portfolio" 
                    title="Havana: Legends of the Caribbean is an exciting survival video game prototype developed with Unreal Engine that immerses players in the epic story of an intrepid pirate. After a devastating shipwreck in the waters of  the Caribbean, our brave protagonist finds himself stranded on a mysterious tropical island. Facing the relentless challenges of nature, players must take on the role of the pirate, explore the lush environment and collect resources vital to his survival.">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Havana</a>
                                <span class="text-category">Video Games</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/3.jpg" rel="portfolio"
                    title="Arthur  King: is an exciting first-person role-playing game (RPG) prototype that takes players on an unforgettable odyssey in a fantasy world  full  of  magic, intrigue and adventure. Developed with Unity and C#, this game offers an immersive experience where players embody Arthur, a hero destined to unravel the mysteries that surround a kingdom plunged in darkness. Gameplay  focuses  on  open-world  exploration,  mission-solving, and strategic combat. Additionally, a deep progression system allows  players to upgrade Arthur's skills and customize his equipment.">
                        <img src="images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Arthur King</a>
                                <span class="text-category">Video Games</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/4.jpg" rel="portfolio" 
                    title="Dark Night: is an immersive prototype horror game developed in the distinctive low poly art style, immersing players in a dark and desolate environment. Using Unity and C#, this game presents a unique horror experience where survival becomes the key to escape from a zombie-infested city. In an apocalyptic world, players take on the role of a brave survivor who finds himself trapped in a city shrouded in darkness. The low poly art style offers a unique and atmospheric aesthetic, creating a visually  striking experience as you explore deserted streets and abandoned buildings. The narrative takes place in a setting  where  the city has fallen prey to a zombie epidemic. Your mission as the protagonist is to fight against the hordes of undead to gain experience and advance in levels, all while searching for a way out of this urban nightmare. As you level up, you unlock new skills and upgrades that increase your chances of survival.">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Dark Night</a>
                                <span class="text-category">Video Games</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/5.jpg" rel="portfolio" 
                    title="Inwimi: is a fascinating prototype vehicle simulator developed with Unreal Engine and Blueprint, set in a vibrant Asian city. This game immerses you in an urban environment full of flashing lights, towering skyscrapers and bustling streets, offering a unique driving experience. With dazzling graphics and meticulous attention to detail, “Inwimi” recreates the essence of a modern Asian city, from bustling street markets to neon-lit shopping districts. The power of Unreal Engine guarantees exceptional visual quality, capturing the unique atmosphere of Asian cities. https://youtu.be/LhJhIdgHSVg">
                        <img src="images/portfolio/5.jpg" alt="description" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Inwimi</a>
                                <span class="text-category">Video Games</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/6.jpg" rel="portfolio" 
                    title="Inwimi: is a fascinating prototype vehicle simulator developed with Unreal Engine and Blueprint, set in a vibrant Asian city. This game immerses you in an urban environment full of flashing lights, towering skyscrapers and bustling streets, offering a unique driving experience. With dazzling graphics and meticulous attention to detail, “Inwimi” recreates the essence  of a modern Asian city, from bustling street markets to neon-lit shopping  districts. The power of Unreal Engine guarantees exceptional visual quality, capturing the unique atmosphere of Asian cities.">				
                        <img src="images/portfolio/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Dron Simulator</a>
                                <span class="text-category">Video Games</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/7.jpg" rel="portfolio" 
                    title="Vehicle License Plate Detection Project with YOLO and OCR This innovative project employs advanced visual detection and optical character recognition (OCR) algorithms to achieve an efficient vehicle license plate detection system. Using the powerful YOLO (You Only Look Once) algorithm and OCR techniques, our system provides a comprehensive solution for accurate real-time automobile license plate identification. https://github.com/jonG312/computer-vision/tree/main/Vehicle%20Plate%20Recognition">				
                        <img src="images/portfolio/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Vehicle plate detection</a>
                                <span class="text-category">Machine Learning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/8.jpg" rel="portfolio" 
                    title="Animal Protection: is a revolutionary website developed with HTML, CSS AND JavaScript that fuses the creativity of digital art with the noble cause of animal protection. This immersive project seeks to inspire, educate and mobilize animal lovers through a unique experience that combines shocking videos, moving animations and the fascinating parallax effect..">
                        <img src="images/portfolio/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Save Animal</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/9.jpg" rel="portfolio" 
                    title="The following machine learning project developed with the Python programming language and the PyTorch library uses advanced algorithms to provide an accurate and efficient solution that analyzes images and determines both the gender and age of people with a high degree of trust." >
                        <img src="images/portfolio/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Age and Gender Detection</a>
                                <span class="text-category">Machine Learning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/10.jpg" rel="portfolio" 
                    title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." >
                        <img src="images/portfolio/10.jpg" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Mobile App</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/11.jpg" rel="portfolio" 
                    title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/portfolio/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12.jpg" rel="portfolio" 
                    title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/portfolio/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->