<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Jonas gil</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Jonas Gil</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">March 18, 2000</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Beijing, BJ</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">giljonas77@yahoo.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+86 (156) 6590-7252</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">jong312.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            My technological skills extend to various areas, including Videogame development, Data visualization, Artificial intelligence, Big Data and Cybersecurity.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I enjoy sports such as hiking, calisthenics and Olympic wrestling, I also love music and, in my free time, I play the Ukulele and experiment with musical composition. 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Videogames Development</h6>
                    <p>Unity, Unreal Engine, Pocket Ark Editor, Blender, OpenGL.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Machine Learning</h6>
                    <p>Pytorch, Scikit-learn, Pandas, TensorFlow, Matplotlib.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Cloud Computing</h6>
                    <p>AWS, Google Cloud, Huawei Cloud, Alibaba Cloud, Docker, Kubernetes</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My Stack</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Videogames Development
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I am a passionate software developer with a strong background in the field of computer science and a standout internship experience in Unity development. My programming experience spans from creating software applications to working on virtual reality projects and video game development.

                        During my Unity development internship, I had the opportunity to work as part of a team dedicated to creating immersive gaming experiences. This allowed me to gain valuable insights into programming, optimization, and game design, as well as a deep understanding of computer graphics and cutting-edge technologies like Unity and Unreal Engine.
                        
                        My current focus revolves around developing innovative projects involving animation and virtual reality. I am committed to crafting experiences that captivate users and immerse them in virtual worlds.
                        
                        As a software development enthusiast, my goal is to continue growing as a professional and contribute to the exciting world of technology through creative and challenging projects. I am excited about the opportunities that the future holds and eager to further expand my knowledge and skills.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Machine Learning
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> My experience spans from creating Machine Learning models and data processing to implementing recommendation systems and automating complex tasks. I have a deep understanding of the most widely used libraries and frameworks, such as TensorFlow, scikit-learn, and PyTorch, to carry out high-impact projects.

                        My focus is on harnessing the full potential of machine learning to improve decision-making and streamline processes in various applications. I am committed to continuously updating my knowledge to stay current with advancements in this ever-evolving field.
                        
                        My goal is to continue applying my Machine Learning skills to drive innovation and create intelligent solutions that make a difference in the projects I engage in. I'm excited about the opportunity to tackle exciting challenges and further expand my expertise in this thrilling field.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Cloud Computing
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  As a software developer, I take pride in offering a strong background in the exciting realm of cloud computing. Throughout my career, I've gained deep knowledge and experience in designing, developing, and deploying cloud-based solutions.

                        My expertise ranges from migrating on-premises systems to cloud environments to creating native cloud applications. I possess strong skills in managing cloud platform services such as Amazon Web Services (AWS), Microsoft Azure, and Google Cloud Platform (GCP).
                        
                        I am passionate about resource optimization and scalability, allowing me to design and develop efficient cloud architectures that meet the needs of my projects. My focus is on ensuring the availability, security, and performance of the cloud applications I develop.
                        
                        As an advocate for best practices in cloud computing, I am committed to continuous improvement and the adoption of emerging technologies. My goal is to continue driving innovative cloud solutions that empower the success of my team and projects.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->